<!--------------- Data Visualization Dashboard Page ------------------------->
<!----- Displays visualizations through ngx-charts and three js scene ------->
<section class="hero is-primary is-bold">
    <div class="hero-body" id="page-container">

      <div class="header">
        <h1>Data Visualization Dashboard</h1>
      </div>

      <div style="text-align:center">
          <h2 class="text-secondary" style="padding: 10px; margin-bottom: 0;">
            Charts and Graphs 
          </h2>

    <div #flexLayoutContainer  style="position: relative; padding-left: 200px; padding-right: 200px;">

        <div fxLayout="column" [fxLayoutGap]="layoutGap" style="padding-top: 25px; padding-bottom: 25px;">
        <!--Visualization 3: Live data stream of 3D point cloud (using threejs render) -->
        <mat-card fxFlex="1 1 50%" style="position:relative">
          <h3><b>Near Real Time 3D Mesh Render</b></h3>


          <div class="align-chart-center" *ngFor="let topic of topicList;" >
            <mat-button-toggle-group name="enable" #group="matButtonToggleGroup" value="off">
              <mat-button-toggle value="on">On</mat-button-toggle>
              <mat-button-toggle value="off">Off</mat-button-toggle>
            </mat-button-toggle-group>
            {{topic}}
            <app-charts [topic]="topic" [hidden]="group.value == 'off'"></app-charts>
            <div *ngIf="group.value == 'on'">
            <three-renderer color='#000000'  [active]="group.value" [topic]="topic" [hidden]="group.value == 'off'"></three-renderer>
            </div>
          </div>
        </mat-card>
        </div>

      </div>
     </div>
    </div>
</section>

     <!-- Table used to show near real time data variables. Not used in final version. -->
      <!--<table id="data">
        <tr>
            <th *ngFor="let column of headers">
                {{column}}
            </th>
        </tr>
    
        <tr *ngFor="let a of pointCloud">
            <td >
                {{a.time}}
            </td>
            <td >
                {{a.topic}}
            </td>
            <td >
                {{a.x}}
            </td>
            <td >
                {{a.y}}
            </td>
            <td >
                {{a.z}}
            </td>
            <td >
                {{a.intensity}}
            </td>
        </tr>
    
      </table>-->